body{
    margin: 50px;
}
img{
    float: left;
     margin-right: 40px;
}


.inside-content1 h2{
    text-align: center;
    border-bottom: 5px solid green;
    height: 50px;
    padding-top: 20px;
    font-size: 35px;
}
.inside-content1 p{
    text-align: center;
    font-size: 25px;
}
.inside-content2{
    clear: both;
}
