body{
    margin: 50px;
}
img{
    float: left;
     margin-right: 40px;
     height: 350px;
}


.inside-content1 h2{
    text-align: center;
    border-bottom: 5px solid green;
    height: 50px;
    font-size: 27px;

}
.inside-content1 p{
    text-align: center;
    font-size: 25px;
    
}
em{
    color: grey;
}
.inside-content2{
    clear: both;
}
.inside-content2 h3{
    font-size: 25px;
    text-align: center;
    color: green;
}
.inside-content2 p{
    text-align: center;
    font-size: 25px;
}


