.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}
a{
    color: white;
    font-size: 20px;
}
.header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: green;  
 }
 .header img{
     height: 100px;
 }
 li,a{
     font-weight: 500;
     font-size: 20px;
     color: #edf0ed;
     text-decoration: none;
 }
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10%;
      
 }
 .links{
     list-style: none;
 
 }
 .links li{
     display: inline-block;
     padding: 0 20px;
 
 }
 .links li a:hover{
     color: black;
     border-bottom: 3px solid black;
 }
.middle{
    height: 200px;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 95px;
}
.phone{
    display: flex;
}
.email{
    display: flex;
}
.last{
    display: flex;
    justify-content: space-evenly;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: green;
    margin-top: 25px;
    text-align: center;
    color: white;
}
#follow{
    display: flex;
}
#first{
    padding-top: 60px;
}
#second{
    margin: 20px;
    border-left: 3px dashed #4C9BA0;
    padding-left: 30px;
    text-align: left;
}
#contacts>p, #description>p{
    margin: 0;
}