.feed{
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-flow: row;
    background-color: #90ee90;
    max-width: 100%;
    justify-content: space-between;
    
    }
a{
        text-decoration: none;
}
    
    a:hover{
        color: red;
    }
    .grid1{
        width: 300px;
        padding-left: 20px;
        justify-content: flex-start;
    
    }
    .responses{
        display: flex;
        justify-content: space-between;
        }
    
    
    
    .end p, ul li{
        display: flex;
        padding-right: 60px;
        padding-top: 10px;
    
    }
    
    body{
        font-family: sans-serif;
    }
    
    .submit{
        padding: 10px 20px;
        background-color: cornflowerblue;
        margin-left: 1000px;
        color: #fff;
    }
    .feed2{
        margin-top: 40px;
        letter-spacing: 3px;
        font-weight: bold;
    }
    
    .follow{
        font-weight: bold;
        letter-spacing: 2px;
    }
    .new{
        letter-spacing: 3px;
        margin-left: 400px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .comment{
        margin-top: 40px;
        letter-spacing: 3px;
        font-weight: bold;
        margin-left: 500px;
    }

#list{
    display: flex;
    justify-content: space-between;
    
}
.vert{
    height: 140px;
    border: 2px dotted black;
}

.header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: green;  
 }
 .header img{
     height: 100px;
 }
 li,a{
     font-weight: 500;
     font-size: 20px;
     color: #edf0ed;
     text-decoration: none;
 }
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10%;
      
 }
 .links{
     list-style: none;
 
 }
 .links li{
     display: inline-block;
     padding: 0 20px;
 
 }
 .links li a:hover{
     color: black;
     border-bottom: 3px solid black;
 }
 footer{
    display: flex;
    justify-content: space-around;
    background-color: green;
    margin-top: 25px;
    text-align: center;
    color: white;
}
#follow{
    display: flex;
}
#first{
    padding-top: 60px;
}
#second{
    margin: 20px;
    border-left: 3px dashed #4C9BA0;
    padding-left: 30px;
    text-align: left;
}
#rights{
    background-color: green;
    margin-top: 0;
    color: white;
    text-align: center;
}