body{
    background-color: #F1F3F3;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #90EE90;
}
.welcome_note{
    background-color: #C4C4C4;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color:rgb(196, 216, 17)
    
}
.faqs{
    width: 450px;
    height: 400px;
    border: 1px;
    border-radius: 15%;
    overflow-y: scroll;
    background-color: #C4C4C4;
    margin-top: 10px;
}
.faqs>h3, .place_order>h3{
    text-align: center;
    font-size: 20px;
}
.place_order>div>h3{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}
ol>li{
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
}
div>ol>p{
    margin: 10px;
}
.At_a_glance{
    width: 500px;
    height: 515px;
    border: 1px solid black;
    text-align: center;
    background-color: #C4C4C4;
    border-radius: 25%;
}
.page1{
    display: flex;
    justify-content: space-around;
}
.place_order>div>p{
    text-align: center;
    color: #44C851;
    font-size: 20px;
    font-weight: bold;
}
form{
    margin: 1%;
}
.place_order{
    display: flex;
}
#button{
    position: relative;
    top: 145px;
    height: auto;
    width: 80px;
    text-align: center;
    border: 1px solid black;
    border-radius: 35%;
    background-color: #2EB718;
    color: red;
}

/*em{
    font-size: 20px;
}